.devsite-landing-page .devsite-product-description-row {
  max-width: 100%;
}

@media screen and (min-width: 1000px) {
  .devsite-landing-page .devsite-product-description-row {
    max-width: calc((100% - 80px)/2);
  }
}

.devsite-landing-row-column:not(:first-child),
.devsite-landing-row-item:not(:first-child) {
  margin-left: 16px;
}

.devsite-landing-row-item-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-bottom: 0 !important;
  padding: 16px !important;
  background-color: #4285f4;
  color: white;
}

.hero-row-two {
  padding-top: 16px !important;
}

article.hentry:first-of-type {
  margin-top: 0;
}

.devsite-collapsible-section {
  background-image: url('/web/images/hero-2x.png'),
                    url('/web/images/hero-yellow-bg.png');
  background-position: right bottom, right bottom;
  background-size: unset, contain;
  background-repeat: no-repeat, no-repeat;
}
.devsite-collapsible-section h2 {
  border: 0;
  font: 300 34px/40px Roboto, sans-serif;
}

